# Local Files #
###############
.DS_Store
.Rapp.history
/doc/
/Meta/
/docs/
.Rproj.user
*.Rproj
.Rhistory
inst/
*.csv
*.pdf
vignettes/*cache/
vignettes/*files/
vignettes/*.html
CRAN-SUBMISSION
cran-comments.md
