# Local Files #
###############
.DS_Store
.Rapp.history
/doc/
/Meta/
.Rproj.user
*.Rproj
.Rhistory
inst/doc
*.csv
/inst
CITATION.cff
*.pdf

# Incomplete Vignettes #
########################
/vignettes/bnlearn_test.Rmd
/vignettes/bidag_comparison.Rmd
